*{
	padding: 0px;
	border: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: DINPro, Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}
a,
a:hover{
	text-decoration: none;
}
ul, li{
	list-style-type: none;
}
img{
	max-width: 100%;
	height: auto;
}
/* chrome浏览器样式设置 */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	cursor: pointer;
}
::-webkit-scrollbar-track {
  	background-color: rgb(255, 255, 255);
  	border-radius: 12px
}
::-webkit-scrollbar-thumb {
 	border-radius: 10px;
  	background-color: rgba(34, 34, 39, 0.7);
}

html,
body{
	height: 100%;
}
.wrapper{
	height: 100%;
	position: relative;
}
/* header */
.navbar-default{
	height: 100px;
	background-color: #fff;
}
.navbar-brand{
 	height: 100%;
 	padding: 20px 15px;
}
.navbar-brand img{
	height: 100%;
}
.navbar-default .navbar-nav{
	margin: 0;
	font-size: 16px;
}
.navbar-default .navbar-nav>li {
    padding: 24px 15px;
}
@media only screen and (max-width: 768px){
	.navbar-nav>li>a {
	   line-height: 30px;
	}
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-toggle{
	border: 0;
	margin-top: 34px;
}
.navbar-default .navbar-collapse{
	border-color: #fff;
}
.navbar-default .navbar-nav>li>a{
	color: #000;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
	color: #f7931e;
	background-color: transparent;
}